SECRET_KEY=#python -c 'import secrets; print(secrets.token_hex())'
PASSWORD_PEPPER=
TOTP_ENCRYPTION_KEY=#python -c 'import os,base64; print(base64.b64encode(os.urandom(32)).decode())'
DATABASE_URL=sqlite:///app.db
ARGON2_TYPE="ID"
ARGON2_ROUNDS=4
ARGON2_MEMORY_COST=65536
ARGON2_PARALLELISM=4
ARGON2_HASH_LEN=32
ARGON2_SALT_LEN=16
EXAMPLE_PASSWORD_HASH="$$argon2id$$v=19$$m=65536,t=4,p=4$$O6eU0vo/R4jx3puz9n4PoQ$$8dVfA6iA4xl1vl6ulw3R7z60nwRdqIDOk6vnZG7qmiE"