{% extends "base.html" %}
{% block title %}New message{% endblock %}

{% block content %}
<h2>Send message</h2>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
        <label for="recipient">Username:</label><br>
        {{ form.recipient(id="recipient") }}
    </div>
    <div>
        <label for="subject">Topic:</label><br>
        {{ form.subject(id="subject") }}
    </div>
    <div>
        <label for="body">Content:</label><br>
        {{ form.body(id="body", rows="10", cols="50") }}
    </div>
    <div>
        <label for="attachment">Attachment:</label><br>
        {{ form.attachment(id="attachment") }}
    </div>
    <div>
        <label for="signing_password">Signing password (your login password):</label><br>
        {{ form.signing_password(id="signing_password") }}
    </div>

    <div>
        <input type="submit" value="Send">
    </div>
</form>
<p><a href="{{ url_for('messages.dashboard') }}">Cancel</a></p>
{% endblock %}