<html>
<body>
<form action="/register" method="post">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Register">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="color: red; margin-bottom: 10px;">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</body>
</html>